.navbar {
  background-color: #3B89FF;
  padding: 10px;
}

@keyframes points {
  0% {color: #FFFF00;}
  10% {color: #FFAA00;}
  25% {color: #FF0000;}
  50% {color: #FF00FF;}
  75% {color: #00FFFF;}
  100% {color: #00FF00;}
}

.flash {
  animation-name: points;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}