.square {
  box-shadow: 3px 6px #99999999;
  margin: 5px;
  background-color: #ffffffff;
}
img {
  width: 230px;
  height: 290px;
}
/*
.square:hover {
  transform: scale(1.25);
  box-shadow: 4px 8px #99999999;
}
*/